@charset "utf-8";

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: normal; /*ブラウザが自動的に行間を決める*/
  font-family:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
  background: rgb(233, 168, 227);
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

/*******************************************************/
/* ゲーム全体                                           */
/*******************************************************/
.wrapper {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  text-align: center;
}
/*******************************************************/
/* backボタン                                           */
/*******************************************************/
.back {
  text-align: left;
}
#btn99 {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1.5em;
  background: rgb(253, 4, 79);
  cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}
/* 01-04 add 疑似クラス*/
#btn99:hover {
  background: linear-gradient(
    rgba(255, 0, 0, 0.7) 0%,
    rgba(0, 0, 255, 0.7) 100%
  );
}

/*******************************************************/
/* ヘッダー                                             */
/*******************************************************/
header {
  margin-top: 8px;
  color: rgb(255, 251, 0);
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  background: rgb(71, 71, 71);
}

/*******************************************************/
/* ゲームエリア                                         */
/*******************************************************/
/* class=game-container   ゲームエリア*/
.game-container {
  padding: 40px 0;
}
/* class=message-container   メッセージエリア*/
.message-container {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  overflow: hidden;
}

.js-hidden {
  display: none;
}
/****************************************/
/* class=squares-container              */
/****************************************/
.squares-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 200px;
}

.squares-box {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px #333;
}

.square {
  position: relative;
  width: calc(196px / 3);
  height: calc(196px / 3);
  border: solid 2px #333;
}

/* penguins */
.js-pen-checked::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  content: ""; /*画像だけ表示したい場合は空にする。*/
  background-image: url(../img/penguins.jpg);
  background-size: contain;
}

/* bear */
.js-bear-checked::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  content: ""; /*画像だけ表示したい場合は空にする。*/
  background-image: url(../img/whitebear.jpg);
  background-size: contain;
}

/* protect：ホバーやクリックなどのマウスイベントを無効（むこう）にする*/
.js-unclickable {
  pointer-events: none;
}

/* winner-line high-light */
.js-pen_highLight {
  border: solid 2px red;
}
.js-bear_highLight {
  border: solid 2px blue;
}
/*******************************************************/
/* ボタンのスタイル                                     */
/*******************************************************/
/* class = "btn" */
.btn {
  margin-top: 8px;
  padding: 12px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 24px;
  background: rgb(26, 212, 212);
  user-select: none;
  cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}
/*******************************************************/
/* New Game ボタン                                     */
/*******************************************************/
/* class = ".btn-container" */
.btn-container {
  padding-top: 40px;
}

/* id = "btn90" */
#btn90:hover {
  background-color: #ffd347;
  transition-duration: 0.4s;
}
/*******************************************************/
/* footer                                              */
/*******************************************************/
footer > p {
  position: absolute; /*←絶対位置*/
  bottom: 5px; /*下に固定*/
  width: 100%;
  margin: 0px;
  padding: 1px;
  color: whitesmoke;
  font: 16px Rajdhani;
  text-align: center;
  background: rgba(1, 24, 31, 0.7);
}

/*******************************************************/
/* Media Query responsive setting                      */
/*******************************************************/
/* mobileのときのスタイル */
@media screen and (max-width: 480px) {
  .wrapper {
    padding-bottom: 23px;
  }
  .btn-container {
    padding-top: 2px;
  }
}
